<!DOCTYPE html>
<html lang="en">
<head>
    <title>Raat ki Rani Espresso Premium Instant Coffee 100gms</title>
      {{> headerlinks}}

</head>
<body>
   <!-- /* ************************ NAVBAR ******************* */ -->

    {{> navbar}}

    
            <!-- /* ************************ ADS SECTION ******************* */ -->
<section class="ad_container">

  <div class="wrapper">
  <div class="marquee">
    <p>
      Shop our Money Saver Bundles to save some cash!
    </p>
    <p>
      <i class="fa-solid fa-circle"></i>
    </p>
    <p>
      Get a FREE Hustle Mug on orders above ₹2999
    </p>
    <p>
      <i class="fa-solid fa-circle"></i>
    </p>
    <p>
      Ft. coffee House
    </p>
  </div>
</div>

</section>

  
    <!-- /* ************************ MAIN PAGE ******************* */ -->


   <section class="Coffeebuy" id="coffeebuy">
     <div class="box_container">
        
       <div class="box" id="buycoffeeBOX">
            <div class="buymain_row">

            <div class="left_box">
                <img src="Images/prd3.webp" alt="" class="buy_img">

                <div class="l_img_box1">
                    <div class="ll_side_img">
                        <img src="Images/r1.webp" alt="" class="buy1_img">
                    </div>
                    <div class="lr_side_img">
                          <img src="Images/r2.webp" alt="" class="buy1_img"> 
                    </div>
                </div>
                <div class="l_img_box1">
                    <div class="ll_side_img">
                        <img src="Images/r3.webp" alt="" class="buy1_img">
                    </div>
                    <div class="lr_side_img">
                          <img src="Images/r4.webp" alt="" class="buy1_img"> 
                    </div>
                </div>
                <div class="l_img_box1">
                    <div class="ll_side_img">
                        <img src="Images/r5.webp" alt="" class="buy1_img">
                    </div>
                    <div class="lr_side_img">
                          <img src="Images/r6.webp" alt="" class="buy1_img"> 
                    </div>
                </div>

            </div>

            <div class="right_box">
                <div class="content">
                    <h3>Raat ki Rani Espresso Premium Instant Coffee 100gms</h3>
                    <div class="price">
                        <p>Rs. 799 <span id="cutprice">  Rs. 789</span> <span id="offerdist">save 12%</span></p>
                    </div>

                    <div class="stars">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star-half-stroke"></i>
                      <span> 44 reviews</span>
                    </div>

                    <div class="place">
                        <p><i class="fa-solid fa-earth-americas"></i> Origin: Chikkamagaluru, Karnataka</p>
                    </div>

                    <p>Flavour: Espresso</p>
                    <div class="flr_box">
                        <a href="" class="flr_txt" id="selectflr">Espresso</a>
                        <a href="" class="flr_txt">Mocha</a>
                        <a href="" class="flr_txt">Vanilla</a>
                        <a href="" class="flr_txt">Hazelnut</a>
                    </div>

                    <p>Size: 100 Gms</p>
                    <div class="flr_box">
                        <a href="" class="flr_txt">50 Gms</a>
                        <a href="" class="flr_txt" id="selectflr">100 Gms</a>
                    </div>

                    <p>Quantity:</p>
                    <div class="flr_box">
                        <a href="#" class="flr_txt"> <i class="fa-solid fa-minus" id="minus"></i> <span id="qty_num">1</span>  <i class="fa-solid fa-plus" id="plus"></i></a>
                    </div>

                    <div class="prd_btn_box">
                            <a href="/AddtoCart" class="btn" id="add2cart" >Add to cart</a>
                            <a href="/BuyOrder" class="btn" id="buy2btn">Buy it now</a>
                    </div>
                </div>

                <div class="line_prd"></div>

                <div class="Mugfree">
                        <p><i class="fa-solid fa-gift"></i> Free Hustle Mug</p>
                        <p id="nrm_txt">On orders above ₹2999 get a free hustle mug.</p>
                </div>

                  <div class="line_prd"></div>

                <div class="details_box">
                    <div class="detcol">
                        <div class="detrow1" onclick="ShowDesc()">
                            <p id="parcup">Details</p>
                            <div class="det_arrow" id="arrowcup">
                              <i class="fa-solid fa-angle-down" id="allprodArrow"></i>
                            </div>
                        </div>

                        <div class="detrow2" id="myallprodinfo">
                            <p>Flavour: Espresso | Roast: Dark</p>
                        </div>
                    </div>
                </div>


                    <div class="line_prd"></div>
                <div class="details_box">
                    <div class="detcol">
                        <div class="detrow1" onclick="ShowDesc2()">
                            <p>Description</p>
                                <div class="det_arrow">
                                  <i class="fa-solid fa-angle-down" id="allprodArrow2"></i>
                                </div>
                        </div>

                        <div class="detrow2" id="myallprodinfo2">
                            <p id="paradesc">Do you have a long day of hustle ahead of you? रात की Rani Espresso has NO <br> BITTER AFTERTASTE and an earthy and nutty flavor, that is perfect to keep <br> you fueled. <br> <span id="bdesc">Net quantity: 100gms, serves 50 cups.</span></p>
                        </div>
                    </div>
                </div>


                    <div class="line_prd"></div>
                <div class="details_box">
                    <div class="detcol">
                        <div class="detrow1" onclick="ShowDesc3()">
                           <p>Ingredients</p>
                              <div class="det_arrow">
                              <i class="fa-solid fa-angle-down" id="allprodArrow3"></i>
                            </div>
                        </div>

                        <div class="detrow2" id="myallprodinfo3">
                            <p>98% Arabica 2% Robusta</p>
                        </div>
                    </div>
                </div>


                    <div class="line_prd"></div>
                <div class="details_box">
                    <div class="detcol">
                        <div class="detrow1" onclick="ShowDesc4()">
                            <p id="perCup">How to make a perfect cup?</p>
                               <div class="det_arrow" id="percuparrow">
                                <i class="fa-solid fa-angle-down"id="allprodArrow4" ></i>
                               </div>
                        </div>

                        <div class="detrow2" id="myallprodinfo4">
                            <p id="paradesc1">Simply add 2 tsps of Impulse Coffees to 110ml of milk/water. Tastes equally <br> delicious when served hot or cold. Sweetener optional.</p>
                        </div>
                    </div>
                </div>


                    <div class="line_prd"></div>


                    <div class="line_prd"></div>

                    <div class="content">
                      <p id="buyItwith">Buy It With</p>
                    </div>

                    <div class="Mugfree" id="lastfree">
                        <p><i class="fa-solid fa-gift"></i> Free Hustle Mug</p>
                        <p id="nrm_txt">On orders above ₹2999 get a free hustle mug.</p>
                </div>
            </div>
          </div>
      </div>
    </div>

   </section>



 {{!-- /* ********************* ALL PRODUCTS SECTION ******************** */ --}}


   <section class="allproducts">
    <div class="allprod_conatiner">
            <img src="Images/allprod.webp" alt="allproducts" class="allprod_img">
    </div>
   </section>


   <!-- /* ************************ BLOG PAGE ******************* */ -->

     <section class="blog" id="prodblog">

      <div class="container">
        <div class="box">
            <div class="imgBox">
                <img src="Images/allprodb1.jpeg" alt="">
            </div>
            <div class="bcard_content">
                <h2>Gourmet Flavored</br>
                <span>Ft. Coffee House</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="Images/allprodb2.webp" alt="">
            </div>
            <div class="bcard_content">
                <h2>Limited Edition</br>
                <span>Ft. Coffee House</span></h2>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="Images/allprodb3.webp" alt="">
            </div>
            <div class="bcard_content">
                <h2>Bundles</br>
                <span>Ft. Coffee House</span></h2>
            </div>
        </div>
    </div>
    </section>




    {{!-- /* ************************ REVIEWS BUY PAGE ******************* */ --}}

 <section class="buyReviews">
   <h1 class="heading"><span>Customer</span> Reviews</h1>
    <div class="buyreviews" id="buyreviews">

      <div class="rev_row">
        <div class="txt_rev">
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <a href="#" id="outoff">4.93 out of 5</a>
          </div>
          <p>Based on 14 reviews</p>
          <a href="#">collected by Judge.me</a>

        </div>

      <div class="stars_rev">
        <div class="rev_row1">
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
           </div>

          <div class="buyMark">
            <div class="marklineBuy" id="star5"></div>
          </div>
          <div class="buyNum">
            <p>200</p>
          </div>
        </div>
        <div class="rev_row1">
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>

          <div class="buyMark">
            <div class="marklineBuy" id="star4"></div>
          </div>
          <div class="buyNum">
            <p>120</p>
          </div>
        </div>
        <div class="rev_row1">
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>

          <div class="buyMark">
            <div class="marklineBuy" id="star3"></div>
          </div>
          <div class="buyNum">
            <p>90</p>
          </div>
        </div>
        <div class="rev_row1">
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>

          <div class="buyMark">
            <div class="marklineBuy" id="star2"></div>
          </div>
          <div class="buyNum">
            <p>50</p>
          </div>
        </div>
        <div class="rev_row1">
          <div class="stars">
            
            <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          </div>

          <div class="buyMark">
            <div class="marklineBuy" id="star1"></div>
          </div>
          <div class="buyNum">
            <p>10</p>
          </div>
        </div>
        
      </div>

      <div class="msg_rev">
        <button class="btn" id="rev_btn">Write a Review</button>
      </div>
      </div>
    </div>
</section>
            


{{!-- /* ************************ PRODUCTS BUY PAGE ******************* */ --}}

    <section class="products" id="buyproducts">
      <h1 class="heading"><span>You may</span> also like</h1>
 
      <div class="box_container">
       
        <div class="box">
          <div class="prd_icons">
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            <a href=""><i class="fa-regular fa-heart"></i></a>
            <a href=""><i class="fa-regular fa-eye"></i></a>
          </div>

          <div class="prd_image">
            <img src="Images/prd14.webp" alt="product" />
          </div>

          <div class="content">
            <h3>
              Impulse Hustlers Favourite Combo | Mocha pe Chauka 100 gms +
              Vichaar Over Vanilla 50 gms + NutKhat Hazelnut 50 gms
            </h3>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>

            <div class="price">Rs. 699.00 <span>Rs. 798.00</span></div>
          </div>
        </div>


        <div class="box">
          <div class="prd_icons">
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            <a href=""><i class="fa-regular fa-heart"></i></a>
            <a href=""><i class="fa-regular fa-eye"></i></a>
          </div>

          <div class="prd_image">
            <img src="Images/prd2.webp" alt="product" />
          </div>

          <div class="content">
            <h3>Vichaar Over Vanilla Premium Instant Coffee 100 gms</h3>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>

            <div class="price">Rs. 699.00 <span>Rs. 798.00</span></div>
          </div>
        </div>

        <div class="box">
          <div class="prd_icons">
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            <a href=""><i class="fa-regular fa-heart"></i></a>
            <a href=""><i class="fa-regular fa-eye"></i></a>
          </div>

          <div class="prd_image">
            <img src="Images/prd3.webp" alt="product" />
          </div>

          <div class="content">
            <h3>Raat ki Rani Espresso Premium Instant Coffee 100gms</h3>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>

            <div class="price">Rs. 699.00 <span>Rs. 798.00</span></div>
          </div>
        </div>
      </div>
    </section>


    <!-- /* ************************ DELVERY PAGE ******************* */ -->

    <section class="Delivery" id="buydelivery">
      <h1 class="heading"><span>Our</span> Delivery</h1>

      <div class="box_container">
        <div class="box">
          <div class="content">
            <i class="fa-solid fa-headphones"></i>
            <h3>Online Support</h3>
            <p>Contact us for any query from Monday to Friday, 7am - 12pm</p>
          </div>
        </div>
        <div class="box">
          <div class="content">
            <i class="fa-solid fa-mug-saucer"></i>
            <h3>COD Available</h3>
            <p>Cash on Delivery available across India for just ₹100</p>
          </div>
        </div>
        <div class="box">
          <div class="content">
            <i class="fa-solid fa-plane-departure"></i>
            <h3>Pan India Delivery</h3>
            <p>We deliver pan India in 4-8 business days</p>
          </div>
        </div>
      </div>
    </section>

    




     <!-- /* ************************ FOOTER PAGE ******************* */ -->

    {{> footer}}
    <script src="Js/main.js"></script>
</body>
</html>