<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register Form</title>
  <link rel="icon" href="Images/coffeeLogo.png" sizes="222x222" />
  <link rel="stylesheet" href="css/login.css">
</head>
<body>

  <form action="/Register" method="POST" class="login">
  <h2>Welcome, User!</h2>
  <p>Please Sign in</p>
  <input type="text" placeholder="User Name"  name="Name"/>
  <input type="email" placeholder="User Email"  name="Email"/>
  <input type="password" placeholder="Password"  name="Password"/>
  <input type="password" placeholder="Confirm Password"  name="Confirmpassword"/>
  
  <input type="submit" value="Sign In" />
  <div class="links">
    <a href="#">Have an account? </a>
    <a href="/login" id="logBtn">Login</a>
  </div>
  </form>

</body>
</html>