<section class="ad_container">
 <div class="wrapper">
  <div class="marquee">
    <p>
      Shop our Money Saver Bundles to save some cash!
    </p>
    <p>
      <i class="fa-solid fa-circle"></i>
    </p>
    <p>
      Get a FREE Hustle Mug on orders above ₹2999
    </p>
    <p>
      <i class="fa-solid fa-circle"></i>
    </p>
    <p>
      Ft. coffee House
    </p>
    <p>
      <i class="fa-solid fa-circle"></i>
    </p>
    <p>
      {{username}}
    </p>
  </div>
</div>
</section>
