 <header class="header">
      <a href="#" class="logo">
        <img src="Images/coffeeLogo.png" alt="Logo" />
      </a>

      <nav class="navbar">
        <a href="/">Home</a>
        <a href="#about">About</a>
        <a href="#menu">Menu</a>
        <a href="#products">Products</a>
        <a href="#review">Reviews</a>
        <a href="#blog">Blog</a>
        <a href="#delivery">Delivery</a>
        <a href="/login">Login</a>
        <a href="/Register">Register</a>
      </nav>

      <div class="nav_icons">
        <div><i class="fa-solid fa-magnifying-glass" id="serach_btn"></i></div>
        <div><i class="fa-solid fa-cart-shopping" id="cart_btn"></i><sup id="notif">4</sup></div>
        <div> <a href="/logout" ><i class="fa-solid fa-right-from-bracket" id="logoutBtn"></i></div></a>
        <div><i class="fa-solid fa-bars" id="bar_btn"></i></div>
      </div>

      <div class="search_form">
        <label for="search_box"><i
            class="fa-solid fa-magnifying-glass"
            id="serach_btn"
          ></i></label>
        <input type="search" id="search_box" placeholder="Search for...." />
      </div>

      <div class="cart_container">
        
        <div class="cart_item">
          <span class="fas fa-times"></span>
          <img src="Images/cart1.webp" alt="cart-product" />
          <div class="content">
            <h3>Mocha pe Chauka Premium Instant Coffee 100gms</h3>
            <div class="price">Rs 699.00</div>
          </div>
        </div> 
        <div class="cart_item">
          <span class="fas fa-times"></span>
          <img src="Images/prd7.webp" alt="cart-product" />
          <div class="content">
            <h3>Pyaarbhari Chocolate Raspberry Premium Instant Coffee 100gms</h3>
            <div class="price">Rs 469.00</div>
          </div>
        </div>
        <div class="cart_item">
          <span class="fas fa-times"></span>
          <img src="Images/prd6.webp" alt="cart-product" />
          <div class="content">
            <h3> Keep Calm with KACCHA AAM Premium Instant Coffee | Limited Edition</h3>
            <div class="price">Rs 599.00</div>
          </div>
        </div>
        <div class="cart_item">
          <span class="fas fa-times"></span>
          <img src="Images/prd5.webp" alt="cart-product" />
          <div class="content">
            <h3>NutKhat Hazelnut Premium Instant Coffee</h3>
            <div class="price">Rs 399.00</div>
          </div>
        </div> 
        <a href="" class="btn" id="checkBtn">Checkout Now</a>
        <a href="/AddtoCart" class="btn" id="cartViewBtn">View Cart</a>
      </div>
    </header>